---
// src/pages/index.astro
import TerminalLayout from '../layouts/TerminalLayout.astro';
---

<TerminalLayout>
			<pre>
‚Ėą‚Ėą‚Ėą‚Ėą‚ĖĄ ‚Ėą‚Ėą‚Ėą‚Ėą‚ĖĄ ‚ĖĄ‚Ėą‚Ėą‚Ėą‚ĖĄ ‚ĖĄ‚Ėą‚Ėą‚Ėą‚Ėą ‚ĖĄ‚Ėą‚ĖÄ‚Ėą‚ĖĄ ‚Ėą‚Ėą‚Ėą‚Ėą‚ĖĄ ‚ĖĄ‚Ėą‚ĖÄ‚ĖÄ‚ĖÄ    ‚Ėą‚Ėą‚Ėą‚ĖĄ‚Ėą‚Ėą‚Ėą‚ĖĄ ‚ĖĄ‚Ėą‚ĖÄ‚Ėą‚ĖĄ 
‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą ‚ĖÄ‚ĖÄ ‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖĄ‚Ėą‚ĖÄ ‚Ėą‚Ėą ‚ĖÄ‚ĖÄ ‚ĖÄ‚Ėą‚Ėą‚Ėą‚ĖĄ    ‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą‚ĖĄ‚Ėą‚ĖÄ 
‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą    ‚ĖÄ‚Ėą‚Ėą‚Ėą‚ĖÄ ‚ĖÄ‚Ėą‚Ėą‚Ėą‚Ėą ‚ĖÄ‚Ėą‚ĖĄ‚ĖĄ‚ĖĄ ‚Ėą‚Ėą    ‚ĖĄ‚ĖĄ‚ĖĄ‚Ėą‚ĖÄ ‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą ‚Ėą‚Ėą ‚ĖÄ‚Ėą‚ĖĄ‚ĖĄ‚ĖĄ 
                     ‚Ėą‚Ėą                                     
                   ‚ĖÄ‚ĖÄ‚ĖÄ</pre>
			<p class="entry">Welcome to nrogers.me v0.2.0</p>
			<p class="entry">Last login: <time datetime="2026-04-18T17:29:00Z">April 18, 2026</time></p>
			<br/>
			<div class="prompt">
  				<span class="user">guest@nrogers</span>:<span class="dir">~/portfolio</span>$ <span class="typing">ls -l projects/</span>
			</div>
			<ul class="file-list">
				<li>-rw-r--r-- 1 guest guest 4096 Apr 18 16:00 <a href="/portfolio" class="file">portfolio.md</a></li>

				<li>drwxr-xr-x 1 guest guest 4096 Apr 18 15:42 <a href="https://github.com/stuffpicklesays/" target="_blank">github_profile</a></li>
			</ul>
			<div class="prompt">
  				<span class="user">guest@nrogers</span>:<span class="dir">~/portfolio</span>$ <span class="cursor">‚Ėą</span>
			</div>
</TerminalLayout>

