<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/styles.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/news">News</a></li>
  </ul>
  <h1>NEWS!</h1>
  <h3>This is a news page</h3>
  <h4>Idk what more to say</h4>
  <h5>Hopefully someone puts some stuff here</h5>
  <h6>How small can the text go?</h6>
  <div class="h7">I'm not sure if this is possible</div>
  <div class="h8">okay, this is getting stupid now</div>
  <div class="h9">I best be off, I have coding to do</div>
  <div class="h10">what should i add next?</div>
  
</body>